<div class="page-header">
  <h3>
    <%=current_user.username%>
    <a href="/photos" class="btn btn-lg btn-success">Photos</a>
  </h3>
</div>
<div class="row">
  <div class="col-md-12 mb-2">

<% @likes.each do |like|%>
  <div class="row">
    <div class="col-md-8 col-md-offset-2">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title">
            <%= @photo.caption %>
            <small>
              <%= time_ago_in_words(like.created_at) %>
            </small>
          </h3>
        </div>

        <div class="panel-body">
            <img src="<%= like.image %>" class="img-responsive">
          </a>
        </div>
      </div>
    </div>
  </div>
<% end %>






        <td>
          <a href="/likes/<%= like.id %>" class="btn btn-primary">Show</a>
          <a href="/likes/<%= like.id %>/edit" class="btn btn-warning">Edit</a>
          <a href="/delete_like/<%= like.id %>" class="btn btn-danger" rel="nofollow">Delete</a>
        </td>
  </div>
</div>
