<div class="page-header">
  <h3>User #<%= @user.id %></h3>
</div>
<div class="row">
  <div class="col-md-12 mb-2">
    <dl class="dl-horizontal">
      <dt>Username</dt>
      <dd><%= @user.username %></dd>

      <dt>Email</dt>
      <dd><%= @user.email %></dd>

    </dl>

<% @photos.each do |photo|%>
  <div class="row">
    <div class="col-md-8 col-md-offset-2">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title">
            <%= photo.caption %>
            <small>
              <%= time_ago_in_words(photo.created_at) %>
            </small>
          </h3>
        </div>

        <div class="panel-body">
          <a href="/photos/<%= photo.id %>">
            <img src="<%= photo.image %>" class="img-responsive">
          </a>
        </div>
      </div>
    </div>
  </div>
<% end %>
